.footer {
  position: absolute;
  bottom: 0;
  right: 24px;

  ul {
    display: flex;

    li:first-child {
      margin-right: 15px;
    }

    li:last-child {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
