@import "./helpers/reset";
@import "./helpers/animations";
@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast-body {
  white-space: pre-line;
}

.h-calc {
  height: calc(100vh - 2.5rem);
}

.w-min {
  width: 500px;
}