@import "./helpers/reset";
@import "./helpers/animations";
@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast-body {
  white-space: pre-line;
}

.h-calc {
  height: calc(100vh - 2.5rem);
}

.w-min {
  width: 500px;
}

.gradient-main {
  background: rgb(161, 98, 230);
  background: linear-gradient(0deg, rgba(161, 98, 230, 1) 0%, rgba(78, 38, 230, 1) 100%);
}